$cr: 60px;
$heartMargin: $cr / 6;

body {
  margin: 0;
  color: #fcffee;
  font-family: Roboto, serif;
  overflow: hidden;
}

#main-container {

  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(151.36deg, #FF8A8A 20.34%, rgba(237, 241, 36, 0.86) 100%) no-repeat;

  #info-container {

    width: 80%;
    height: 20%;
    margin: 0 auto;

    img {
      height: 90%;
      width: 10vw;
      margin: 0 3% 0 0;
    }

  }

  #notify-container {
    display: none;
    bottom: 65%;
    width: 100%;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    a {
      color: #FAB681;
      span {
        padding-right: 10px;
      }
    }

    p {
      font-weight: 100;
      font-size: 120%;
    }

  }

  #link-container {

    bottom: 10%;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    div {
      margin: 2%;
    }

    #copy-container{

      display: flex;

      #copy {
        color: #F6D067;
      }

      span {
        padding-left: 10px;
      }
    }

    #share-button {
      //display: none; TODO enable
      color: #F4DB5B;

      span {
        padding-right: 10px;
      }
    }

  }

  #footer-container {
    bottom: 1%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

    #github-icon {
      bottom: 50%;
      opacity: 0.25;

      &:hover {
        opacity: 1;
      }

      img {
        width: 35px;
        height: 35px;
      }

    }

  }

  .box {
    display: flex;
    align-items: center;
    padding: 0 3%;
    background: rgba(255, 255, 255, 0.64);
    box-shadow: inset 0 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
  }

  .info-text {
    margin: 0;
    font-style: normal;
    font-weight: 100;
    font-size: 140%;
    line-height: 140%;
    text-align: center;
    color: #0F5353;

  }

  .button {
    width: 130px;
    background: #F4F4F4;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
  }

  .text {
    font-size: 110%;
    text-align: center;
    font-weight: 400;

    span {
      margin: 0 auto;
    }

    img {
      height: 30px;
      width: 30px;
    }
  }

}

#heart-container {
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: #111111 0 20px 35px -25px inset;

  div {
    z-index: 1;
  }

  .glow {
    position: absolute;
    margin: auto;
    top: auto;
    bottom: $cr - $heartMargin;
    left: calc(-100% - #{$heartMargin});
    right: 0;
    width: $heartMargin;
    height: $heartMargin;
    transform: translateY(-100%);
    border-radius: 50%;
    box-shadow: none;
  }

  .half-heart {
    position: absolute;
    margin: auto;
    top: auto;
    bottom: $cr - $heartMargin;
    left: calc(-100% - #{$heartMargin});
    right: 0;
    width: $cr;
    height: $cr;
    background-color: #C72E42;
    border-radius: 50%;
    transform: translate(-50%);
  }

  .half-heart::after {
    content: "";
    position: absolute;
    top: $cr * 0.4666666667;
    right: 0;
    width: 0;
    height: 0;
    border: $cr / 2 solid transparent;
    border-left: 0;
    border-right: $cr * 0.7 solid #C72E42;
  }

  .reflection {
    left: calc(100% + 40px);
    transform: rotateY(180deg) translate(-50%);
  }

  .join {
    animation: join 1s forwards;
  }

  .split {
    animation: split 1s forwards;
  }

  .to-the-sky {
    animation: toTheSky 1s forwards;
  }

  .halo {
    animation: toTheSky 1s forwards, halo 1.5s -1s;
  }

  @keyframes join {
    20% {
      bottom: 40%;
    }
    100% {
      bottom: 40%;
      left: 0;
    }
  }

  @keyframes split {
    0% {
      bottom: 40%;
      left: 0;
    }
    100% {
      bottom: calc(100% + (#{$cr} / 2));
    }
  }

  @keyframes toTheSky {
    0% {
      bottom: 40%;
      left: 0;
    }
    100% {
      bottom: calc(100% + (#{$cr} / 2));
      left: 0;
    }
  }

  @keyframes halo {
    40% {
      box-shadow: none;
    }
    41% {
      box-shadow: white 0 0 $cr * 2.5 $cr / 2;
    }
    99% {
      box-shadow: white 0 0 $cr * 2.5 $cr / 2;
    }
    100% {
      box-shadow: none;
    }
  }

}
