body {
  margin: 0;
  color: #fcffee;
  font-family: Roboto, serif;
  overflow: hidden;
}

#main-container {

  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(151.36deg, #FF8A8A 20.34%, rgba(237, 241, 36, 0.86) 100%) no-repeat;

  #debug {

    position: absolute;

  }

  #info-container {

    margin: 5% 10% 0 10%;
    display: flex;
    align-items: center;

    img {
      width: 10%;
      margin: 0 3% 0 0;
    }

    p {
      width: 90%;
    }
  }

  #notify-container {
    display: none;
    margin: 2% 2% 0 2%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    #notify-button {
      color: #FAB681;

      .button-text {
        padding-right: 10px;
      }

      .button-image {
        background-image: url("assets/notify.svg");
      }

      &:active, &:hover {

        .button-image {
          background-image: url("assets/notify-active.svg");
        }

      }

    }

    p {
      font-weight: 100;
      font-size: 120%;
      text-align: center;
    }

  }

  #link-container {

    bottom: 6%;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    div {
      margin: 2%;
      display: flex;
    }

    #copy-button{

      color: #F6D067;
      .button-text {
        padding-left: 10px;
      }

      .button-image {
        background-image: url("assets/copylink.svg");
      }

      &:active, &:hover {

        .button-image {
          background-image: url("assets/copylink-active.svg");
        }

      }

    }

    #share-button {
      display: none;
      color: #F4DB5B;

      &:active, &:hover {

        .button-image {
          background-image: url("assets/share-active.svg");
        }

      }

      .button-text {
        padding-right: 10px;
      }

      .button-image {
        background-image: url("assets/share.svg");
      }

    }

  }

  #footer-container {
    bottom: 1%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

    #github-icon {
      bottom: 50%;
      opacity: 0.25;

      &:hover {
        opacity: 1;
      }

      img {
        width: 35px;
        height: 35px;
      }

    }

  }

  .box {
    display: flex;
    align-items: center;
    padding: 3%;
    background: rgba(255, 255, 255, 0.64);
    box-shadow: inset 0 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
  }

  .info-text {
    margin: 0;
    font-style: normal;
    font-weight: 100;
    font-size: 140%;
    line-height: 140%;
    text-align: center;
    color: #0F5353;

  }

  .button {
    width: 130px;
    background: #F4F4F4;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    cursor: pointer;

    &:active {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    }

    &:active, &:hover {
      background: rgba(124, 197, 197, 0.64);

      .button-image {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25) );

      }

      .button-text {
        color: white;
      }

    }

    .button-text {
      margin: 0 auto;
      user-select: none;
    }

    .button-image {
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
    }

  }

  .text {
    font-size: 110%;
    text-align: center;
    font-weight: 400;

  }

}

#waiting-heart-container {

  display: flex;
  margin-top: 8%;
  justify-content: center;

  #waiting-heart {
    display: flex;

    img {
      height: 100%;
      animation: heartbeat 3s infinite;
    }

  }

}

@keyframes heartbeat {
  0% {
    transform: scale(.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(.75);
  }
  100% {
    transform: scale(.75);
  }

}

$cr: 60px;
$heartMargin: $cr / 6;

#heart-container {
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: #111111 0 20px 35px -25px inset;

  div {
    z-index: 1;
  }

  .glow {
    position: absolute;
    margin: auto;
    top: auto;
    bottom: $cr - $heartMargin;
    left: calc(-100% - #{$heartMargin});
    right: 0;
    width: $heartMargin;
    height: $heartMargin;
    transform: translateY(-100%);
    border-radius: 50%;
    box-shadow: none;
  }

  .half-heart {
    position: absolute;
    margin: auto;
    top: auto;
    bottom: $cr - $heartMargin;
    left: calc(-100% - #{$heartMargin});
    right: 0;
    width: $cr;
    height: $cr;
    background-color: #C72E42;
    border-radius: 50%;
    transform: translate(-50%);
  }

  .half-heart::after {
    content: "";
    position: absolute;
    top: $cr * 0.4666666667;
    right: 0;
    width: 0;
    height: 0;
    border: $cr / 2 solid transparent;
    border-left: 0;
    border-right: $cr * 0.7 solid #C72E42;
  }

  .reflection {
    left: calc(100% + 40px);
    transform: rotateY(180deg) translate(-50%);
  }

  .join {
    animation: join 1s forwards;
  }

  .split {
    animation: split 1s forwards;
  }

  .to-the-sky {
    animation: toTheSky 1s forwards;
  }

  .halo {
    animation: toTheSky 1s forwards, halo 1.5s -1s;
  }

  @keyframes join {
    20% {
      bottom: 30%;
    }
    100% {
      bottom: 30%;
      left: 0;
    }
  }

  @keyframes split {
    0% {
      bottom: 30%;
      left: 0;
    }
    100% {
      bottom: calc(100% + (#{$cr} / 2));
    }
  }

  @keyframes toTheSky {
    0% {
      bottom: 30%;
      left: 0;
    }
    100% {
      bottom: calc(100% + (#{$cr} / 2));
      left: 0;
    }
  }

  @keyframes halo {
    40% {
      box-shadow: none;
    }
    41% {
      box-shadow: white 0 0 $cr * 2.5 $cr / 2;
    }
    99% {
      box-shadow: white 0 0 $cr * 2.5 $cr / 2;
    }
    100% {
      box-shadow: none;
    }
  }

}
